body{
  background-color: #DAAB34;;
  font-weight: bold;
}

#nav{
  background-color: #5F578F;
}


#tabela {
  background-size: 100% auto;
  color: #caa;
  height: 100px;
  width: 30%;
  margin: 0 auto;
}

#texto{
  color:black;
  position: relative;
  top : 20%;
}

#pesquisar{
  position: relative;
  right : 44%;
}
#postagem{
  position: relative;
  right : 700%;
}

#novo_post{
  top:50px;
  position: relative;
  left :0%;
}

#novo_p{
  top: 50px;
  position: relative;
  left : 40%;
}

#labe{
  bottom: 14PX;
  position: relative;
  left: 8%;
}

#area{
  position: relative;
  left: 8%;
}

#labee{
  position: relative;
  left:6%;
}

#botao{
    top :10px;
    position: relative;
    left: 8%;

}

#botao2{
    top:20px;
    position: relative;
    left: 8%;

}
#botao3{
  bottom: 50px;
}

#cabecalho{
   text-align: center;
}

#cabecalho2{
margin-left: 0%;
}

#msg_comentarios{
  margin-top: 6%;
margin-left: 41%;
}

#comentarios_label{
  margin-top: 1%;
  margin-left: 28%;
}

#botao4{
  bottom: 60px;
  margin-left: 43%;
}

#botao5{
  margin-top: 0.5%;
  margin-left: 46%;
}

#registro_index{
  margin-left:2%;
}

#botao6{
  margin-top: 1%;
  text-align: center;
}

#botao7{
  margin-top: 2%;
  margin-left: 47%
}
#botao8{
  margin-top: 2%;
  margin-left: 48.2%;
}

#msg_register{
  text-align: center;
  box-shadow: none;
}

.descricao ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.descricao li{
  list-style-type:none;
  padding-right: 15px;
  padding-left:5px;
  font-size: 15px;
  float: left;
}

.comentario input[type=hiden]{
  visibility: hidden;
}

#coment{
    margin-top:2%;
    margin-left: 30%;
}

#formPost input[type=hiden]{
  visibility: hidden;
}

.posted {
  padding: 30px;
  margin: 5px;
  background-color: white;
  border: 4px solid black;
}

.posted p{
  background-color: white;
  padding: 00px;
}

.posted span{
  background-color: antiquewhite;
  width:500px;
}
#botao_comentarios{
  margin-top: 0.5%;
  margin-left: 46.5%;
}
